name: test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  unit:
    name: unit / ${{matrix.os}} / node v${{matrix.node_version}}
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node_version: [20, 22, 24]
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version: ${{ matrix.node_version }}
      - name: Build dependencies
        run: pnpm run build
      - name: Run Tests
        run: pnpm run test
      - name: Run TS Smoke Tests
        run: pnpm run test:ts
      - name: Lint Prettier
        run: pnpm run lint:prettier
      - name: Lint ESLint
        run: pnpm run lint
